body {  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
	background: url('img/bg_bottom.jpg') 0 4px;
	position: relative;
}
body:before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 565px;
	z-index: -1;
	background: url('img/bg_top.jpg') repeat-x;
}

textarea{
  border: 0;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.frameWrap{
	width: 990px;
	height: 630px;
	padding: 15px;
	margin: 10px auto 50px auto;
	background: url('img/frame_bg.jpg');
	overflow: hidden;
	border-radius: 15px;
	position: relative;
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ngViewWrap{
	height: 880px;
	width: 100%;
	position: relative;
}
.viewAnimate{
	position: absolute;
	width: 100%;	
	left: 0;
	top: 0;
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
.viewAnimate.ng-enter #index,
.viewAnimate.ng-leave #index{	
	opacity: 0;
}
.viewAnimate.ng-leave .frameWrap{ 
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
}
.viewAnimate.ng-leave-active .frameWrap{
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  transform: translate(0,20px);
  opacity: 0;
}

#header{
	width: 940px;
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0 auto;
}
#header .btnWrap{
	float:right;
}
#header .fbBtn,
#header .loginBtn{
	display: block;
	float: right;
	width: 95px;
	height: 30px;
	margin-left: 10px;
	background-repeat: no-repeat;
}
#header .fbBtn{
	background: url('img/button_fb.png') 0 0;
}
#header .fbBtn:hover{
	background: url('img/button_fb.png') 100% 0;
}
#header .loginBtn{
	background: url('img/button_login.png') 0 0;
}
#header .loginBtn:hover{
	background: url('img/button_login.png') 100% 0;
}


#menu{	
	margin: -56px auto 0 auto;
	width: 740px;	
	height: 56px;
	padding: 0 10px;	
	position: relative;	
	background: url('img/menu_bg.jpg') repeat-x;
	-webkit-transition: all 0.6s cubic-bezier(.77,0,.175,1);
  -moz-transition: all 0.6s cubic-bezier(.77,0,.175,1);
  transition: all 0.6s cubic-bezier(.77,0,.175,1);    
  opacity: 0;
  -webkit-transform: translate(0,-20px);
  -moz-transform: translate(0,-20px);
  transform: translate(0,-20px);
}
#menu.show{	
	margin: 23px auto;
  opacity: 1;
	-webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
}
#menu:before,
#menu:after{
	content: "";
	position: absolute;
	width: 22px;
	height: 56px;
	top: 0;
}
#menu:before{
	left: -22px;
	background: url('img/menu_left.png') no-repeat;	
}
#menu:after{
	right: -22px;
	background: url('img/menu_right.png') no-repeat;		
}
#menu .topDecoration{
	position: absolute;
	width: 766px;
	height: 22px;
	top: -22px;
	left: -20px;	
	background: url('img/menu_top.png') no-repeat;
}
#menu .linkList.left{
	float: left;
}
#menu .linkList.right{
	float: right;
}
#menu .linkList > li{	
	display: block;
	float:left;
	margin: 0 4px;
	height: 56px;		
	background-image: url('img/menu_btn.png');
	background-repeat: no-repeat;
	overflow: hidden;		
}
#menu .linkList > li > a{
	display: block;
	height: 100%;
	width: 100%;
}
#menu .logo{
	position: absolute;
	left: 50%;	
	top: -20px;	
	margin-left: -68px;
	width: 141px;
	height: 97px;
	background: url('img/menu_logo.png') no-repeat;
}
#menu .linkList .link1{
	width: 110px;
	background-position: 0 50%;
}
#menu .linkList .link1:hover,
#menu .linkList .link1.selected{
	background-position: -740px 50%;
}
#menu .linkList .link2{
	width: 88px;
	background-position: -120px 50%;
}
#menu .linkList .link2:hover,
#menu .linkList .link2.selected{
	background-position: -860px 50%;
}
#menu .linkList .link3{
	width: 66px;
	background-position: -220px 50%;
}
#menu .linkList .link3:hover,
#menu .linkList .link3.selected{
	background-position: -960px 50%;
}
#menu .linkList .link4{
	width: 88px;
	background-position: -456px 50%;
}
#menu .linkList .link4:hover,
#menu .linkList .link4.selected{
	background-position: -1196px 50%;
}
#menu .linkList .link5{
	width: 90px;
	background-position: -556px 50%;
}
#menu .linkList .link5:hover,
#menu .linkList .link5.selected{
	background-position: -1296px 50%;
}
#menu .linkList .link6{
	width: 82px;
	background-position: -660px 50%;
}
#menu .linkList .link6:hover,
#menu .linkList .link6.selected{
	background-position: -1400px 50%;
}

/*!
*   FOOTER
*/
#footer{	
	margin: 0 auto;	
	width: 720px;
	color: #333;
}
#footer .logo{
	float: left;	
	width: 180px;
	height: 80px;
	position: relative;
}
#footer .logo a{
	background: url('img/kids_logo.png');
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
	width: 180px;	
	height: 72px;
	z-index: -1;
}
#footer .linkList{
	width: 540px;
	padding: 10px 0 10px 30px;
	float: right;
	display: block;
}
#footer .linkList > li{
	float: left;
	margin: 0 20px;
}
#footer .linkList a{
	color: #333;
}
#footer .copyRight{
	width: 540px;
	padding: 5px 0;
	float: right;
	text-align: center;
}



/*!
*   CARDVIEW
*/

#cardViewWrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	opacity: 0;	
}

#cardViewWrap.open{
	display: block;
	opacity: 1;
}

#cardView{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 710px;
    height: 470px;
}
#cardView .canvas{    
    position: relative;    
    width: 710px;
    height: 470px;            
    overflow: hidden;    
    border-radius: 10px;     
}
#cardView .canvas.ng-enter,
#cardView .canvas.ng-leave{      
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;   
}
#cardView .canvas.ng-enter{
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);    
    transform: scale(0.75);
    opacity: 0;
}
#cardView .canvas.ng-enter.ng-enter-active{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);    
    transform: scale(1);
    opacity: 1;
}

#cardView .frame{
    width: 100%;
    height: 100%;
}

.adornment_item {
    display: block;
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 51;
}
.adornmentImg {
    width: 250px;
    height: 250px;
    -webkit-animation: play .8s steps(2) infinite;
    -ms-animation: play .8s steps(2) infinite;
    animation: play .8s steps(2) infinite;
    background-repeat: no-repeat;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

.bubbler_item {
    display: block;
    width: 300px;
    height: 150px;
    position: relative;
}
.displayItem {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    left: 0;
    top: 0;
}
.displayItem,
.displayItem textarea{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bubblerText {
    padding: 20px;
    width: 100%;
    height: 100%;
    z-index: 52;
    font-size: 30px;
    line-height: 45px;
    font-family: "微軟正黑體";
    resize: none;
    overflow: hidden;
    border: 0;
}

.graffiti_item {
    display: block;
    width: 400px;
    height: 310px;
    position: relative;
    z-index: 55;
}
.graffitiImg {
	width: 400px;
	height: 310px;	
}



@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot');
	src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome.woff') format('woff'),
		url('fonts/fontawesome.ttf') format('truetype'),
		url('fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-caret-left, .icon-caret-right {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
