body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
textarea{
    border: 0;
}

[ng-cloak]{
    display: none;
}

#cardFactory{
    margin: 50px auto;
    width: 960px;
    height: 600px;
    padding: 10px;
    background: #62422e;
    position: relative;
    overflow: hidden;
}
#cardFactory .workingArea{
    float:left;
    width: 710px;
    height: 470px;    
    position: relative;
    outline: 3px solid rgba(255,255,255,0.2);
}
#cardFactory .canvas{
    width: 100%;
    height: 100%;    
    overflow: hidden;
    position: relative;
}
#cardFactory .frame{
    width: 100%;
    height: 100%;    
}

#cardFactory .window{
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    height: 310px;    
    padding: 10px 20px 50px 20px;
    opacity: 0;    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
#cardFactory .window.open{    
    z-index: 200;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);    
    opacity: 1;
}
#cardFactory .window .closeBtn{
    position: absolute;
    right: -7px;
    top: -7px;
    width: 28px;
    height: 28px;
    background: url('img/closeBtn.png') no-repeat;
    cursor: pointer;
}
#cardFactory .window .section{
    width: 100%;
    height: 100%;    
    display: none;
    overflow: hidden;
}
#cardFactory .section.open{
    display: block;
}
#cardFactory .section .empty{
    width: 200px;
    height: 60px;    
    margin: 120px auto;
    text-align: center;
    background: #CE4E4E;
    color: #fff;
    opacity: 0;
}
#cardFactory .section .empty.show{
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#cardFactory .item{
    cursor: pointer;
    float: left;
    width: 50px;
    height: 50px;    
    margin: 15px;
    position: relative;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.5);
}
#cardFactory .item img{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#cardFactory .frame .item,
#cardFactory .word .item{
    margin: 14px 6px;
    width: 150px;    
    height: 100px;
    background: #fff;
    border-radius: 5px;
}
#cardFactory .menu{
    margin-left: 720px;
    padding: 10px 0;
    width: 220px;
    height: 470px;
    background: url('img/menu_bg.png') no-repeat 50% 50%;
}
#cardFactory .menu .menuBtn{
    width: 200px;
    height: 50px;
    margin: 0 10px 10px 10px;        
    overflow: hidden;
    cursor: pointer;
}
#cardFactory .menu .functionBtn1{
    background: url('img/btn_1.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn2{
    background: url('img/btn_2.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn3{
    background: url('img/btn_3.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn4{
    background: url('img/btn_4.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn5{
    background: url('img/btn_5.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn6{
    background: url('img/btn_6.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn1:hover{
    background: url('img/btn_1.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn2:hover{
    background: url('img/btn_2.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn3:hover{
    background: url('img/btn_3.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn4:hover{
    background: url('img/btn_4.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn5:hover{
    background: url('img/btn_5.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn6:hover{
    background: url('img/btn_6.png') no-repeat 100% 0;
}
#cardFactory .menu .submitBtn{
    height: 90px;
    background: url('img/btn_7.png') no-repeat 0 0;   
}
#cardFactory .menu .submitBtn:hover{
    height: 90px;
    background: url('img/btn_7.png') no-repeat 100% 0;
}

#cardFactory .subMenu{
    margin: 10px 0;        
    height: 100px;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
}
#cardFactory .subMenu.open{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);   
}
#cardFactory .subMenu .navBtn{
    width: 30px;
    height: 100%;
}
#cardFactory .subMenu .navLeft{
    background: rgba(30,30,0,0.5);
    float: left;
}
#cardFactory .subMenu .navRight{
    background: rgba(30,30,0,0.5);   
    float: right;
}
#cardFactory .subMenuBtn{
    width: 150px;
    height: 100px;
    margin: 0 13px;
    float: left;    
}
#cardFactory .subMenuBtn.topic1{
    background: url('img/subMenu_btn_1.png') no-repeat 50% 50%;
    cursor: pointer;
}
#cardFactory .subMenuBtn.topic2{
    background: url('img/subMenu_btn_2.png') no-repeat 50% 50%;
    cursor: pointer;
}
#cardFactory .subMenuBtn.topic3{
    background: url('img/subMenu_btn_3.png') no-repeat 50% 50%;
    cursor: pointer;
}
#cardFactory .subMenuBtn.topic4{
    background: url('img/subMenu_btn_4.png') no-repeat 50% 50%;
    cursor: pointer;
}
#cardFactory .subMenuBtn.topic5{
    background: url('img/subMenu_btn_5.png') no-repeat 50% 50%;
    cursor: pointer;
}



.adornment_item{    
    display: block;    
    width: 250px;
    height: 250px;        
    position: relative;
    z-index: 51;
}
.adornmentImg{
    width: 250px;
    height: 250px;
    -webkit-animation: play .8s steps(2) infinite;
    -moz-animation: play .8s steps(2) infinite;
    -ms-animation: play .8s steps(2) infinite;
    -o-animation: play .8s steps(2) infinite;
    animation: play .8s steps(2) infinite;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

.bubbler_item{
    display: block;    
    width: 300px;
    height: 150px;            
    position: relative;
}
.bubblerText{
    padding: 20px;
    width: 100%;
    height: 100%;
    z-index: 52;
    font-size: 30px;
    line-height: 45px;
    font-family: "微軟正黑體";
    resize: none;
    overflow: hidden;
}


/*!
*   PREVIEW
*/



#preview{    
    position: fixed;    
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;    
}
#preview.open{
    z-index: 600;
    visibility: visible;
    opacity: 1;
}
#preview .previewOverlay{
    margin: 50px auto;
    width: 960px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);    
    transform: translateY(10%);
}
#preview.open .previewOverlay{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);    
    transform: translateY(0);
}
#preview .canvasWrap{
    margin: 0 auto 20px auto;
    padding: 5px;
    background: #62422E;
    border-radius: 10px;
    height: 500px;
}
#preview .canvas{    
    margin: 10px auto;
    width: 710px;
    height: 470px;        
    position: relative;     
    overflow: hidden;
    position: relative;
}
#preview .frame{
    width: 100%;
    height: 100%;
}
#preview .sendForm{
    width: 600px;
    margin: 0 auto;
}
#preview .sendForm .function-group {
    text-align: center;
}





/*!
*   Loading
*/
.loadingOverlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);  
    z-index: 1001;
    opacity: 1;
    visibility: visible;  
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;    
}
.loadingOverlay.hide{
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.loadingOverlay .loading{  
    position: absolute;  
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    width: 52px;
    height: 52px;        
    background: #000 url(img/fal.gif) no-repeat 50% 50%;
    opacity: 0.5;
    border-radius: 10px;
}


/*!
*  UI
*/
.adjustable,
.displayItem{    
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    left: 0;
    top: 0;
}
.displayItem,
.displayItem textarea{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.adjustable.select{
    z-index: 100;
}
.adjustable.select:after{
    z-index: 2;
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    bottom: -20px;
    right: -20px;
    border: 2px dotted #666;

}
.adjustable .btn{    
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 34px;
    font-size: 18px;    
    border-radius: 50%;
    z-index: 6; 
    opacity: 0;
    display: none;
}
.adjustable.select .btn{
    opacity: 1;
    display: block;
}
.adjustable .delBtn{
    right: -40px;
    top: -40px;
}
.adjustable .resetBtn{
    left: -40px;
    top: -40px;
}
.adjustable .roteateBtn{
    left: -40px;
    bottom: -40px;
}
.adjustable .resizeBtn{
    right: -40px;
    bottom: -40px;
}
.adjustable > .wrap{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.adjustable.select > .wrap{
    position: absolute;
    z-index: 101;
}



