/*!
*   INDEX
*/

#index .portal{
    margin: 0 auto 180px auto;    
    width: 940px;
    height: 573px;
    position: relative;
}
#index .decoration{
    position: absolute;
    top: -65px;
    left: -10px;
    width: 142px;
    height: 241px;
    background: url('img/index/decoration.png') no-repeat 0 0;
    -webkit-animation: decorAnim .8s steps(2) infinite;
    -moz-animation: decorAnim .8s steps(2) infinite;
    -ms-animation: decorAnim .8s steps(2) infinite;    
    animation: decorAnim .8s steps(2) infinite;
}
@-webkit-keyframes decorAnim {
   from { background-position:    0px; }
     to { background-position: 200%; }
}
@-moz-keyframes decorAnim {
   from { background-position:    0px; }
     to { background-position: 200%; }
}
@-ms-keyframes decorAnim {
   from { background-position:    0px; }
     to { background-position: 200%; }
}
@keyframes decorAnim {
   from { background-position:    0px; }
     to { background-position: 200%; }
}
#index .portalImg{
    width: 940px;
    height: 573px;
    background: url('img/index/portal.png');
    position: absolute;        
} 
#index .link{
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;    
}
#index .link:after{
    content: "";
    position: absolute;
    z-index: -1;
}
#index .link:hover:after{
    background-position: 100% 0;
}
#index .link1{
    top: 56px;
    left: 72px;
    width: 205px;
    height: 278px;
}
#index .link1:after{    
    width: 205px;
    height: 278px;    
    background-image: url('img/index/link_1.png');        
}
#index .link2{
    top: 230px;
    left: -20px;
    width: 269px;
    height: 191px;    
}
#index .link2:after{    
    width: 269px;
    height: 191px;    
    background-image: url('img/index/link_2.png');        
}
#index .link3{
    top: 410px;
    left: 100px;
    width: 257px;
    height: 143px;    
}
#index .link3:after{    
    width: 257px;
    height: 143px;    
    background-image: url('img/index/link_3.png');        
}
#index .link4{
    top: 60px;
    right: 80px;
    width: 212px;
    height: 212px;    
}
#index .link4:after{    
    width: 212px;
    height: 212px;  
    background-image: url('img/index/link_4.png');        
}
#index .link5{
    top: 240px;
    right: 80px;
    width: 244px;
    height: 161px;    
}
#index .link5:after{    
    width: 244px;
    height: 161px;
    background-image: url('img/index/link_5.png');        
}
#index .link6{
    top: 400px;
    right: 120px;
    width: 260px;
    height: 144px;
}
#index .link6:after{
    width: 260px;
    height: 144px;
    background-image: url('img/index/link_6.png');
}


/*!
*   REAWRD
*/
#reward{
    width: 960px;
    height: 600px;
    background: url('img/reward_bg.jpg') no-repeat;
}


/*!
*   TOPLIST
*/
#topList{
    width: 960px;
    height: 600px;
    background: url('img/topList_bg.jpg') no-repeat;
}
#topList .scoreTable{
    margin: 0 auto;
    width: 720px;    
    font-family: "微軟正黑體";    
}
#topList .scoreTable th,td{
    text-align: center;    
}
#topList .scoreTable .thead{
    border-bottom: 3px dashed #643e30;        
}
#topList .scoreTable th{    
    padding: 10px 0;    
    font-size: 28px; 
    color: #643e30;    
    text-shadow: 2px 0 #edd8b9,
                    -2px 0 #edd8b9,
                    0 2px #edd8b9,
                    0 -2px #edd8b9;
}
#topList .scoreTable tr{    
    height: 50px;
    font-size: 20px;
    color: #643e30;
    font-weight: bold;    
}

/*!
*   CARDLIST
*/
#cardList{
    width: 960px;
    height: 600px;
    background: url('img/cardList_bg.jpg') no-repeat;
}
#cardList .list{
    width: 850px;
    height: 540px;
    padding: 10px 0;    
    margin: 0 auto;
}
#cardList .list li{
    float: left;
    padding: 5px;
    width: 160px;
    height: 110px;
    background: #fbbe01;
    margin: 8px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);    
    cursor: pointer;
}
#cardList .list li.ng-enter{    
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;    
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;    
}
#cardList .list li.ng-enter{
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);    
    transform: translate(0, 50px);
    opacity: 0;
}
#cardList .list li.ng-enter.ng-enter-active{
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);    
    transform: translate(0,0);
    opacity: 1;
}
#cardList .list li img{
    border-radius: 5px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#cardList .pagination{
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;    
    text-align: center;    
}
#cardList .pagination li{    
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: "微軟正黑體";
    color: #666;
    text-shadow: 0 2px 0 rgba(255,255,255,1),
                    0 -2px 0 rgba(255,255,255,1),
                    2px 0 0 rgba(255,255,255,1),
                    -2px 0 0 rgba(255,255,255,1);
}
#cardList .pagination li:hover,
#cardList .pagination li.selected{
    color: #f80;
}
#cardList .pagination li.icon-caret-left,
#cardList .pagination li.icon-caret-right{
    font-family: 'fontawesome';    
}
#cardViewWrap .closeBtn {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 100;
    width: 28px;
    height: 28px;
    background: url('img/closeBtn.png') no-repeat;
    cursor: pointer;
}


/*!
*   COLLECTTASK
*/
#collectTask{
    width: 960px;
    height: 600px;
    background: #fff;    
}




/*!
*   GIFTBOX
*/
#giftBox{
    width: 960px;
    height: 600px;
    background: url('img/giftBox/bg.jpg') no-repeat;    
}

#giftBox .statistics{
    margin: 0 0 0 300px;    
    padding-top: 40px;
    width: 700px;
    height: 460px;    
}

#giftBox .section{
    height: 70px;
    width: 100%;
    margin: 30px 0;
}
#giftBox .statistics .item{
    float: left;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 5px;    
    background: #FFF url(img/iml.gif) 50% 50% no-repeat;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);    
}
#giftBox .statistics .item img{
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#giftBox .giftCount{
    width: 100%;
    padding-top: 20px;
    height: 100px;
    text-align: center;
}

#giftBox .giftBox{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 80px;
    padding-left: 105px;
    cursor: pointer;
    text-align: left;
    line-height: 90px;
    font-size: 28px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: #e6d5b7;        
    text-shadow: 2px 0 2px #88674a,
                    -2px 0 2px #88674a,
                    0 -2px 2px #88674a,
                    0 2px 2px #88674a;
}
#giftBox .giftBox:before{
    content: "X";
    position: absolute;
    left: 80px;
}
#giftBox .giftBox1{
    background: url('img/giftBox/giftBox_1.png') no-repeat;
}
#giftBox .giftBox2{
    background: url('img/giftBox/giftBox_2.png') no-repeat;
}
#giftBox .giftBox3{
    background: url('img/giftBox/giftBox_3.png') no-repeat;
}
#giftBox .giftBox4{
    background: url('img/giftBox/giftBox_4.png') no-repeat;
}

#giftBox .openBoxAnimation{
    position: absolute;
    top: -88px;
    left: -88px;
    width: 250px;
    height: 250px;
    overflow: hidden; 
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);    
    transform: scale(0.3);

    -webkit-animation: play 2s steps(2) infinite;
    -moz-animation: play 2s steps(2) infinite;
    -ms-animation: play 2s steps(2) infinite;    
    animation: play 2s steps(2) infinite;  
    opacity: 0;  
}

#giftBox .openBoxAnimation.open{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -200px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);    
    transform: scale(1);
    opacity: 1;
    z-index: 1001;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}
@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

#giftBox .giftBox1 .openBoxAnimation{
    background-image: url('img/giftBox/openBox_1.png');
}
#giftBox .giftBox2 .openBoxAnimation{
    background-image: url('img/giftBox/openBox_2.png');
}
#giftBox .giftBox3 .openBoxAnimation{
    background-image: url('img/giftBox/openBox_3.png');
}
#giftBox .giftBox4 .openBoxAnimation{
    background-image: url('img/giftBox/openBox_4.png');
}

#giftBox .openBoxAnimationOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    opacity: 0;
}
#giftBox .openBoxAnimationOverlay.open{
    z-index: 1000;
    opacity: 1;
}
#giftBox .openBoxAnimationOverlay .message{
    position: fixed;    
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: "微軟正黑體";
    font-size: 32px;
}





/*!
*   CARD FACTORY
*/
.transition,
#cardFactory .workingArea:after,
#cardFactory .window .pagination li.selected span,
#cardFactory .section .empty.show,
#cardFactory .item img{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
#cardFactory{
    margin: 0 auto;
    width: 960px;
    height: 600px;
    padding: 10px;
    background: #62422e;
    position: relative; 
    overflow: hidden;   
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cardFactory .workingArea{
    float:left;
    width: 710px;
    height: 470px;    
    position: relative;            
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.5);    
    overflow: hidden;
    border-radius: 10px;
}
#cardFactory .workingArea:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('img/card/welcome.jpg') no-repeat 50% 50%;
    z-index: 0;    
    opacity: 1; 
}
#cardFactory .workingArea.hiddenWelcome:after{
    opacity: 0; 
}
#cardFactory .canvas{
    width: 100%;
    height: 100%;        
    position: relative;
    z-index: 1;   
}
#cardFactory .frame{
    width: 100%;
    height: 100%;    
}
#cardFactory .window{
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    height: 310px;    
    padding: 10px 20px 50px 20px;
    opacity: 0;    
    -webkit-transform: scale(2);
    -ms-transform: scale(2);    
    transform: scale(2);
}
#cardFactory .window.open{    
    z-index: 200;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);    
    transform: scale(1);    
    opacity: 1;
}
#cardFactory .window .closeBtn{
    position: absolute;
    right: 14px;
    top: -7px;
    width: 28px;
    height: 28px;
    background: url('img/closeBtn.png') no-repeat;
    cursor: pointer;
}
#cardFactory .window .pagination{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;    
    text-align: center;    
}
#cardFactory .window .pagination li{    
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px;    
    border-radius: 100%;    
    cursor: pointer;
    display: inline-block;    
    background: #fff;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);    
}
#cardFactory .window .pagination li:after{
    content: "";
    position: absolute;
    left: 1px;
    top: 2px;
    width: 18px;
    height: 18px;
    padding: 0;    
    border-radius: 50%;        
}
#cardFactory .window .pagination li.selected:after{    
    background: rgb(191,210,85);
    background: -moz-linear-gradient(-45deg,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: linear-gradient(135deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#cardFactory .window .section{
    width: 100%;
    height: 100%;        
    overflow: hidden;
}
#cardFactory .section .empty{
    width: 200px;
    height: 60px;    
    margin: 120px auto;
    text-align: center;
    background: #CE4E4E;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.6);
    visibility: hidden;
}
#cardFactory .section .empty.show{    
    opacity: 1;    
    visibility: visible;
}
#cardFactory .item{    
    float: left;
    margin: 14px 6px;
    width: 150px;    
    height: 100px;    
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.5);
    background: #fff url('img/iml.gif') 50% 50% no-repeat;
    cursor: pointer;
}
#cardFactory .item.ng-enter,
#cardFactory .item.ng-leave {    
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;    
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
#cardFactory .item.ng-enter{
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);    
    transform: scale(0.75);
}
#cardFactory .item.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);    
    transform: scale(1);
}
#cardFactory .item.ng-leave{
    display: none;
}
#cardFactory .item img{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#cardFactory .menu{
    margin-left: 720px;
    padding: 10px 0;
    width: 220px;
    height: 470px;
    background: url('img/card/menu_bg.png') no-repeat 50% 50%;
}
#cardFactory .menu .menuBtn{
    width: 200px;
    height: 50px;
    margin: 0 10px 10px 10px;            
    cursor: pointer;
    background: url('img/card/btn_bg.png') no-repeat 0 0;
    position: relative;
}
#cardFactory .menu .menuBtn:hover{
    background: url('img/card/btn_bg.png') no-repeat 100% 0;
}
#cardFactory .menu .menuBtn:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#cardFactory .menu .functionBtn1:after{
    background: url('img/card/btn_1.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn2:after{
    background: url('img/card/btn_2.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn3:after{
    background: url('img/card/btn_3.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn4:after{
    background: url('img/card/btn_4.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn5:after{
    background: url('img/card/btn_5.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn6:after{
    background: url('img/card/btn_6.png') no-repeat 0 0;
}
#cardFactory .menu .functionBtn1.completed:after{
    background: url('img/card/btn_1.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn2.completed:after{
    background: url('img/card/btn_2.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn3.completed:after{
    background: url('img/card/btn_3.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn4.completed:after{
    background: url('img/card/btn_4.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn5.completed:after{
    background: url('img/card/btn_5.png') no-repeat 100% 0;
}
#cardFactory .menu .functionBtn6.completed:after{
    background: url('img/card/btn_6.png') no-repeat 100% 0;
}
#cardFactory .menu .submitBtn{
    height: 90px;
    background: url('img/card/btn_7.png') no-repeat 0 0;   
}
#cardFactory .menu .submitBtn:hover{
    height: 90px;
    background: url('img/card/btn_7.png') no-repeat 100% 0;
}
#cardFactory .menu .limitCount{
    position: relative;
    z-index: 10;
    left: 2px;
    top: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #fff100;
    text-shadow: 2px 0 2px #000,
                    -2px 0 2px #000,
                    0 -2px 2px #000,
                    0 2px 2px #000;
}

/*!
*   SUBMENU
*/

#cardFactory .subMenu{
    height: 100px;
    width: 100%;
    background: url('img/card/topic_bg.png') no-repeat 70px 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#cardFactory .subMenu.open{
    background: url('img/card/topic_bg.png') no-repeat 70px 100px;
}
#cardFactory .subMenu .btnWrap{
    margin: 10px 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    height: 100%;    
}
#cardFactory .subMenu.open .btnWrap{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);   
}
#cardFactory .subMenu .navBtn{
    width: 30px;
    height: 100%;
    cursor: pointer;
}
#cardFactory .subMenu .objWrap{
    margin: 0 auto;
    width: 880px;
}
#cardFactory .subMenu .navLeft{
    background: url('img/card/la.png') no-repeat 0 50%;
    float: left;
}
#cardFactory .subMenu .navLeft:hover{
    background: url('img/card/la.png') no-repeat 100% 50%;
}
#cardFactory .subMenu .navRight{
    background: url('img/card/ra.png') no-repeat 0 50%;
    float: right;
}
#cardFactory .subMenu .navRight:hover{
    background: url('img/card/ra.png') no-repeat 100% 50%;
}
#cardFactory .subMenuBtn{
    width: 150px;
    height: 100px;
    margin: 0 35px;
    float: left;
    cursor: pointer;
    background-position: 0 50%;
}
#cardFactory .subMenuBtn.ng-enter,
#cardFactory .subMenuBtn.ng-leave{            
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
#cardFactory .subMenuBtn.ng-enter,
#cardFactory .subMenuBtn.ng-leave.ng-leave-active{
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);    
    transform: scale(0.75);
    opacity: 0;
}
#cardFactory .subMenuBtn.ng-enter.ng-enter-active,
#cardFactory .subMenuBtn.ng-leave{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);    
    transform: scale(1);
    opacity: 1;
}
#cardFactory .subMenuBtn:hover,
#cardFactory .subMenuBtn.selected{
    background-position: 100% 50%;
    background-repeat: repeat-x;
}


/*!
*   PREVIEW
*/

#preview{    
    position: fixed;    
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    z-index: -1;
    visibility: hidden;
    opacity: 0;    
    overflow-y: auto;
    /** fix safari bug **/    
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#preview.open{
    z-index: 600;
    visibility: visible;
    opacity: 1;
}
#preview .previewOverlay{    
    margin: 50px auto;
    width: 960px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;    
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);    
    transform: translateY(10%);        
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#preview.open .previewOverlay{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);    
    transform: translateY(0);    
}
#preview .canvasWrap{
    margin: 0 auto 20px auto;
    padding: 5px;
    background: #62422E;
    border-radius: 10px;
    height: 500px;    
}
#preview .canvas{    
    margin: 10px auto;
    width: 710px;
    height: 470px; 
    position: relative;      
    overflow: hidden;    
    border-radius: 10px;    
}
#preview .frame{
    width: 100%;
    height: 100%;
}
#preview .sendForm{
    width: 480px;
    margin: 0 auto;
    padding-left: 50px;
    position: relative;
}
#preview .sendForm:after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 250px;
    left: -220px;
    top: -10px;
    background: url('img/card/stamp.png');
}
#preview .sendForm .function-group {
    text-align: center;
}




/*!
*   Loading
*/
.loadingOverlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;    
    z-index: 1001;
    opacity: 1;
    visibility: visible;    
}
.loadingOverlay.show{    
    opacity: 0;
    visibility: hidden;
}
.loadingOverlay .loading{  
    position: absolute;  
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    width: 52px;
    height: 52px;        
    background: #000 url('img/fal.gif') no-repeat 50% 50%;    
    border-radius: 10px;
}


/*!
*  UI
*/
.adjustable{    
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    left: 0;
    top: 0;
}
.adjustable.select{
    z-index: 100;
}
.adjustable.select:after{
    z-index: 2;
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    bottom: -20px;
    right: -20px;
    border: 2px dotted #ddd;

}
.adjustable .ad_btn{    
    position: absolute;
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    z-index: 6; 
    opacity: 0;
    display: none;
    cursor: pointer;
}
.adjustable.select .ad_btn{
    opacity: 1;
    display: block;    
}
.adjustable .delBtn{
    right: -35px;
    top: -35px;
    background: url('img/card/delete_btn.png') no-repeat 0 50%;
}
.adjustable .delBtn:hover{
    background: url('img/card/delete_btn.png') no-repeat 100% 50%;
}
.adjustable .roteateBtn{
    left: -35px;
    bottom: -35px;
    background: url('img/card/rotate_btn.png') no-repeat 0 50%;
}
.adjustable .roteateBtn:hover{
    background: url('img/card/rotate_btn.png') no-repeat 100% 50%;
}
.adjustable .resizeBtn{
    right: -35px;
    bottom: -35px;
    background: url('img/card/resize_btn.png') no-repeat 0 50%;
}
.adjustable .resizeBtn:hover{
    background: url('img/card/resize_btn.png') no-repeat 100% 50%;
}
.adjustable > .wrap{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.adjustable.select > .wrap{
    position: absolute;
    z-index: 101;
}


