<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/icon.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="kidsCardApp">
    
    <!-- Add your site or application content here -->
    <div ng-view=""></div>
    <div class="container" ng-controller="MainCtrl">        
        <div id="cardFactory" ng-controller="CardFactoryCtrl">  
            <div class="clearfix">
                <div class="workingArea">
                    <div class="canvas" ng-style="selected_bg" >
                        <div class="frame" ng-style="selected_frame" >
                            <!-- adornment -->
                            <span ng-cloak class="adornment_item" 
                                adjustable obj="adornment" del-callback="removeAdornment"
                                min-w="50" min-h="50" max-w="250" max-h="250" resize-inner="true"
                                ng-repeat="adornment in adornmentList">
                                <div class="adornmentImg" ng-style="adornment.style">
                                </div>
                            </span>
                            
                            <!--  bubbler -->
                            <span ng-cloak class="bubbler_item" 
                                adjustable  obj="bubbler" del-callback="removeBubbler"
                                min-w="100" min-h="50" max-w="600" max-h="300"
                                ng-repeat="bubbler in bubblerList">                                
                                    <textarea ng-cloak class="bubblerText" ng-style="bubbler.style" ng-model="bubbler.text" autofocus="true">
                                    </textarea>
                            </span>
                        </div>
                    </div>
                    <div class="window" ng-class="{'open' : isWindowOpen }">
                        <div class="closeBtn" ng-click="closeWindow();"></div>
                        <div class="bg section" ng-class="{'open' : openSection == 'bg' }">
                            <div class="item" ng-repeat="item in bg">
                                <img ng-cloak ng-src="{{item.thumb}}" ng-click="selectBackground('{{item.src}}');">                                
                            </div>
                        </div>
                        <div class="frame section" ng-class="{'open' : openSection == 'frame' }">
                            <div class="item" ng-repeat="item in frame">
                                <img ng-cloak ng-src="{{item.thumb}}" ng-click="selectFrame('{{item.src}}');">
                            </div>
                        </div>
                        <div class="adornment section" ng-class="{'open' : openSection == 'adornment' }">
                            <div class="item" ng-repeat="item in adornment">
                                <img ng-cloak ng-src="{{item.thumb}}" ng-click="addAdornment(item);">
                            </div>
                        </div>
                        <div class="word section" ng-class="{'open' : openSection == 'word' }">
                            <div class="item" ng-repeat="item in bubbler">
                                <img ng-cloak ng-src="{{item.thumb}}" ng-click="addBubbler(item);">
                            </div>
                        </div>
                        <div class="graffiti section" ng-class="{'open' : openSection == 'graffiti' }">
                            <div class="btn btn-danger">尚未完工</div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menuBtn functionBtn1" ng-click="openSectionWindow('bg');"></div>
                    <div class="menuBtn functionBtn2" ng-click="openSectionWindow('frame');"></div>
                    <div class="menuBtn functionBtn3" ng-click="openSectionWindow('adornment');"></div>
                    <div class="menuBtn functionBtn4" ng-click="openSectionWindow('word');"></div>
                    <div class="menuBtn functionBtn5" ng-click="openSectionWindow('graffiti');"></div>
                    <div class="menuBtn functionBtn6" ng-click="reset();"></div>
                    <div class="menuBtn submitBtn" ng-click="preview(); openPreview();"></div>
                </div>
            </div>
            <div class="subMenu">
                <div class="navBtn navLeft"></div>
                <div class="navBtn navRight"></div>
                <div class="objWrap clearfix">
                    <div class="subMenuBtn topic1" ng-click="topic = 'simple'"></div>
                    <div class="subMenuBtn topic2"  ng-click="topic = 'activity'"></div>
                    <div class="subMenuBtn topic3"  ng-click="topic = 'subject'"></div>
                    <div class="subMenuBtn topic4"  ng-click="topic = 'mail'"></div>
                    <div class="subMenuBtn topic5"  ng-click="topic = 'special'"></div>
                </div>
            </div>
            <div class="loadingOverlay" ng-class="{'hide' : !isLoadding}">
                <div class="loading"></div>
            </div>
        </div>
        <div id="preview" ng-controller="PreviewCtrl" ng-class="{'open': previewMode}">
            <div class="previewOverlay">
                <div class="canvasWrap">
                    <div class="canvas" ng-style="selected_bg" ng-click="refresh();"  ng-if="previewMode">
                        <div class="frame" ng-style="selected_frame">

                            <!-- adornment -->
                            <span ng-cloak class="adornment_item displayItem" ng-repeat="adornment in adornmentList" transform-data="adornment" ng-style="adornment.style">
                                <div class="adornmentImg" ng-style="adornment.inner.style">
                                </div>
                            </span>
                            
                            <!--  bubbler -->
                            <span ng-cloak class="bubbler_item displayItem" ng-repeat="bubbler in bubblerList" transform-data="bubbler" ng-style="bubbler.style">
                                <textarea ng-cloak class="bubblerText" ng-style="bubbler.inner.style" ng-model="bubbler.text" readonly>
                                    </textarea>                                
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sendForm">
                    <form class="form-horizontal">

                        <div class="form-group">               
                            <div class="control-group">             
                                <label class="col-lg-2 control-label">主旨</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="inputEmail" value="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">               
                            <div class="control-group">             
                                <label class="col-lg-2 control-label">收件人</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="inputEmail" value="">
                                </div>
                            </div>
                        </div>                        

                        <div class="form-group function-group">
                            <div class="msgText"></div>
                            <div class="row">
                                <button class="btn btn-danger btn-lg" ng-click="closePreview()">返回修改</button>
                                <button class="btn btn-info btn-lg" ng-click="save();">確認送出</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- build:js scripts/modules.js -->    
    <script src="bower_components/angular/angular.js"></script>
    <!--
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/ui.js"></script>
    <script src="scripts/factories/utility.js"></script>
    <!-- endbuild -->


</body>
</html>
