<div class="frameWrap">
	<div id="cardList">
		<ul class="list clearfix">
			<li ng-repeat="item in list">
				<div class="fnOverlay" ng-show="voteMode">
					<div class="voteCount">得票數:{{item.count}}</div>
					<div class="fnBtnWrap">
						<div class="voteBtn" ng-click="voteCard(item.id)"></div>
						<div class="viewBtn" ng-click="viewCard(item.link)"></div>
					</div>
				</div>
				<img images-load-animation ng-src="{{item.thumb}}" ng-click="viewCard(item.link)">
			</li>
		</ul>
		<ul class="pagination"> 
			<li ng-show="$base > 0" 
				ng-click="prevPage();" class="icon-caret-left"></li>
      <li ng-repeat="n in [] | range:numberOfPages | startFrom: $base | limitTo:10"
    		ng-click="setCurrentPage($base+$index)" 
    		ng-class="{'selected': ($base+$index) == currentPage }">
      	{{$base+$index+1}}
      </li>
      <li ng-show="$base < numberOfPages-10 " 
      	ng-click="nextPage();" class="icon-caret-right"></li>
    </ul>
	</div>
</div>

<div id="cardViewWrap">	
	<div id="cardView">
		<div class="closeBtn" ng-click="closeWindow();"></div>
		<div ng-include="'views/cardView.html'"></div>
		<div class="share">
			<div ng-click="share()" class="shareToFb"></div>
		</div>
	</div>	
</div>

