<div class="frameWrap">    
    <div id="cardFactory" ng-controller="cardFactoryCtrl">  
        <div class="clearfix">
            <div class="workingArea" ng-class="{'hiddenWelcome' : isStart }">
                <div class="canvas" ng-style="selected_bg" >
                    <div class="frame" ng-style="selected_frame" >
                        <!-- adornment -->
                        <span ng-cloak class="adornment_item" 
                            adjustable obj="adornment" del-callback="removeAdornment"
                            min-w="50" min-h="50" max-w="250" max-h="250" resize-inner="true"
                            ng-repeat="adornment in adornmentList">
                            <div class="adornmentImg" ng-style="adornment.style">
                            </div>
                        </span>
                        
                        <!--  bubbler -->
                        <span ng-cloak class="bubbler_item" 
                            adjustable  obj="bubbler" del-callback="removeBubbler"
                            min-w="100" min-h="50" max-w="600" max-h="300"
                            ng-repeat="bubbler in bubblerList">                                
                                <textarea ng-cloak class="bubblerText" ng-style="bubbler.style" ng-model="bubbler.text" autofocus="true" ng-trim="false">
                                </textarea>
                        </span>

                        <!--  graffti -->
                        <span ng-cloak class="graffiti_item" 
                            adjustable  obj="graffiti" del-callback="removeGraffiti"
                            min-w="200" min-h="155" max-w="400" max-h="310" resize-inner="true"
                            ng-repeat="graffiti in graffitiList">
                            <div class="graffitiImg" ng-style="graffiti.style">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="window transition" ng-class="{'open' : isWindowOpen }">
                    <div class="closeBtn" ng-click="closeWindow();"></div>
                    <div class="section {{openSection}}">                            
                        <div class="item" 
                            ng-repeat="item in itemList | startFrom: currentPage*pageSize  | limitTo:pageSize">
                            <img ng-cloak ng-src="{{item.thumb}}" ng-click="selectItem(item);" images-load-animation>                                
                        </div>
                        <div class="well empty" ng-class="{'show': itemList.length < 1 }">
                            現在還沒有東西可以用
                        </div>
                    </div>
                    
                    <ul class="pagination">                                        
                        <li ng-repeat="n in [] | range:numberOfPages" ng-click="setCurrentPage($index)" ng-class="{'selected': $index == currentPage }">
                        </li>
                    </ul>
                </div>
                <div class="loadingOverlay transition" ng-class="{'show' : !isLoadding}">
                    <div class="loading"></div>
                </div>
            </div>                
            <div class="menu">
                <div class="menuBtn functionBtn1" 
                    ng-class="{'completed' : selected_bg.background != 'transparent' }"
                    ng-click="openSectionWindow('bg');">                    
                </div>
                <div class="menuBtn functionBtn2" 
                    ng-class="{'completed' : selected_frame.background != 'transparent' }"
                    ng-click="openSectionWindow('frame');">
                </div>
                <div class="menuBtn functionBtn3" 
                    ng-click="openSectionWindow('adornment');">
                    <span ng-cloak class="limitCount">{{adornmentList.length}}/{{adornmentLimit}}</span>
                </div>
                <div class="menuBtn functionBtn4" 
                    ng-click="openSectionWindow('bubbler');">
                    <span ng-cloak class="limitCount">{{bubblerList.length}}/{{bubblerLimit}}</span>
                </div>
                <div class="menuBtn functionBtn5" ng-click="openSectionWindow('graffiti');">
                    <span ng-cloak class="limitCount">{{graffitiList.length}}/{{graffitiLimit}}</span>
                </div>
                <div class="menuBtn functionBtn6" ng-click="reset();"></div>
                <div class="menuBtn submitBtn" ng-click="preview(); openPreview();"></div>
            </div>
        </div>
        <div class="subMenu" ng-class="{'open': isWindowOpen }">
            <div class="btnWrap">
                <div class="navBtn navLeft"></div>
                <div class="navBtn navRight"></div>
                <div class="objWrap clearfix">                        
                    <div ng-repeat="category in categoryList" class="subMenuBtn" 
                        ng-class="{'selected' : topic == category.name }"
                        ng-click="selectTopic(category.name)"
                        ng-style="getBGObj(category.categoryBtn)"
                        >                                
                    </div>
                </div>
            </div>
        </div>            
    </div>    
</div>

<div id="preview"ng-controller="previewCtrl" ng-class="{'open': previewMode}">
    <div class="previewOverlay">
        <div class="canvasWrap">
            <div ng-include="'views/cardView.html'"></div>
        </div>
        <div class="sendForm">
            <form class="form-horizontal">

                <div class="form-group">               
                    <div class="control-group">             
                        <label class="col-lg-2 control-label">主旨</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="inputEmail" value="">
                        </div>
                    </div>
                </div>

                <div class="form-group">               
                    <div class="control-group">             
                        <label class="col-lg-2 control-label">收件人</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="inputEmail" value="">
                        </div>
                    </div>
                </div>  
                <div class="form-group">               
                    <div class="control-group">             
                        <label class="col-lg-2 control-label">收件人</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="inputEmail" value="">
                        </div>
                    </div>
                </div>  
                <div class="form-group">               
                    <div class="control-group">             
                        <label class="col-lg-2 control-label">收件人</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="inputEmail" value="">
                        </div>
                    </div>
                </div>                        

                <div class="form-group function-group">
                    <div class="msgText"></div>
                    <div class="row">
                        <button class="btn btn-danger btn-lg" ng-click="closePreview()">返回修改</button>
                        <button class="btn btn-info btn-lg" ng-click="sendMail();">確認寄出</button>
                        <button class="btn btn-info btn-lg" ng-click="save();">儲存到我的卡片櫃</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    