<div class="frameWrap">
	<div id="giftBox">
			<div class="statistics">

				<div class="bgSection section clearfix">
					<div class="item" ng-repeat="item in gfitBg">
						<img images-load-animation ng-src="{{item.src}}">
					</div>
				</div>

				<div class="frameSection section clearfix">
					<div class="item" ng-repeat="item in gfitFrame">
						<img images-load-animation ng-src="{{item.src}}">
					</div>
				</div>

				<div class="adornmentSection section clearfix">
					<div class="item" ng-repeat="item in gfitAdornment">
						<img images-load-animation ng-src="{{item.src}}">
					</div>
				</div>

				<div class="specialSection section clearfix">
					<div class="item" ng-repeat="item in giftSpecial">
						<img images-load-animation ng-src="{{item.src}}">
					</div>
				</div>


			</div>
			<div class="giftCount">
				<div class="giftBox giftBox1">12</div>
				<div class="giftBox giftBox2">123</div>
				<div class="giftBox giftBox3">0</div>
				<div class="giftBox giftBox4">0</div>
			</div>
	</div>
</div>